/*------------------------------------------------------------------------------
    BLOCKCHAIN DATA
------------------------------------------------------------------------------*/

.dashboard-cards {
    width: 90%;
    margin: auto;
}



.row-title {
    width: 70%;
    margin: auto;
    text-align: left;

}


.row-title h3 {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.row-title p {
    color: #dadddf;
    font-size: 12px;

}

.row-cards {
    width: 70%;
    text-align: center;
    padding: 1% 0% 1% 0%;
}

.row-transactions {
    height: 40px;
    overflow: hidden;
}

.card-block {
    background: #373d49;
    border-radius: 5px;
    width: 80%;
    border: 1px solid #515663;
}

.card-block .card-content {
    font-size: 1rem;
    text-align: left;
    color: #FFCB9A;
}

.card-block .card-content b {
    color: white;
    font-weight: normal;
}

.card-block .card-title {
    color: #FFCB9A;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}

.card-block .card-action {
    padding: 0px;
}

.form-card {
  background: #373d49;
  color: #FFCB9A;
  padding-top: 10px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 50px;
}



.card-function {
    background: #373d49;
    border-radius: 5px;
    width: 80%;
    border: 1px solid #515663;
    color: white;
    margin-bottom: 15px;


}

.card-function:hover,
.card-function:active,
.card-function:focus {
    color: #FFCB9A;
    background: #2c313a;
}

.card-function .card-image {
    padding: 5%;

}

.card-function .card-image i {
    color: #FFCB9A;
}

.card-function .card-stacked {
    padding-top: 8%;
}

.modal {
    width: 20%;
    height: 490px;
    background: transparent;
    max-height: 500px;
    overflow: hidden;

}

.hash_number {
    width: 90%;
    margin-right: 10%;
    word-wrap: break-word;
    font-size: 0.8rem;
    color: #FFCB9A;
    height: 35px;
}

.transaction {
    font-size: 0.8rem;
}

.alert-message {
    background: #373d49;
    color: #FFCB9A;
    text-align: center;
    font-size: 16px;
    position: absolute;
    display: none;
    top: 10px;
    width: 100%;

}

#messageError {
    color: red;
}

#targetValue {
    word-wrap: break-word;
}

/*------------------------------------------------------------------------------
    BUTTONS
------------------------------------------------------------------------------*/


.btn-card {
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: transparent;
    text-align: right;
    color: white;
    background-color: #262a33;
    font-size: 18px;

}

.btn-card:hover, .btn-card:active, .btn-card:focus {
    background-color: #15181c;
}


.btn-blockchain {
    width: 100%;
    background: transparent;
    box-shadow: none;
}


.btn-blockchain:hover, .btn-blockchain:focus {
    background: transparent;
    color: #FFCB9A;
    box-shadow: none;
}


/*------------------------------------------------------------------------------
    FORMS
------------------------------------------------------------------------------*/


input[type=text] {
    border-radius: 10px;
    border-color: #1a2026;
    background-color: #1a2026;
    color: white;
}

input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #ffcb9a;
    box-shadow: 0 1px 0 0 #ffcb9a;
}

input[type="number"]:not(.browser-default):focus:not([readonly]) + label,
input[type="text"]:not(.browser-default):focus:not([readonly]) + label {
    color: #ffcb9a;
}

.input-field .prefix {
    top: 1rem;
}

.input-field .prefix.active {
    color: #ffcb9a !important;
}

input[type="text"]:not(.browser-default) {
    height: 4rem;
}



/*------------------------------------------------------------------------------
    MEDIA QUERIES
------------------------------------------------------------------------------*/




@media(max-width:1700px) {
    .card-block,
    .card-function {
        width: 100%;
    }

    .card-function .card-title {
        font-size: 18px;
    }

    .hash_number {
        height: 50px;

    }


    .row-title,
    .row-cards {
        width: 100%;
    }


}

@media(max-width:992px) {

    .modal {
        width: 50%;
        background: transparent;
        height: 470px;
    }



}


@media(max-width:520px) {

    .card-block,
    .card-function {
        width: 100%;
    }

    .card-function .card-stacked {
        padding-top: 10%;
        font-size: 80%;
    }

    .card-function .card-title {
        font-size: 16px;
    }
    .modal {
        width: 80%;
    }


}






